@{
    ViewBag.Title = "Lediga objekt";
}
<center><h2 class="sidrubrik">Lediga objekt</h2></center>
<div class="maincontainer1">

    <div class=" row">
       
        <div class=" col-md-3">
            <label>Sortera</label>
            <br />
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    Visa objekt för:
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Alla</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Falun</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kumla</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nora</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Örebro</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Örebro Almby</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Örebro Centralt</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Örebro Norr</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Örebro Väster</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Örebro Studentboende</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Örebro Seniorboende 55+</a></li>
                </ul>
            </div>
           
       
        
        </div>
        
        <div class=" col-md-8 filtreraruta-stor">
            <label>Filtrera</label>
            <div class="row filtreraruta">
                <div class=" col-md-2 filtrera filtrera-left" >
                    <div class="falt">
                        <label>Minst antal rum</label>
                        <div style="width: 60px;">
                            <div class="numberinput">
                                <input name="state" placeholder="0" class="form-control" type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-2 filtrera">
                    <div class="falt">
                        <label>Max antal rum</label>
                        <div style="width: 60px;">
                            <div class="numberinput">
                                <input name="state" placeholder="0" class="form-control" type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-2 filtrera">
                    <div class="falt">
                        <label>Maxhyra</label>
                        <div style="width: 80px;">
                            <div class="numberinput">
                                <input name="state" placeholder="Maxhyra" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 filtrera">
                    <div class="falt">
                        <label>Adress</label>
                        <div>
                            <div class="numberinput">
                                <input name="state" placeholder="Adress" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-2 filtrera">
                    <div class="falt">
                        <label style="color:white;">.</label>
                        <div>
                            <div>
                                <button type="submit" class="btn btn-default" style="margin-left:10px;">Filtrera <span class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" ledigt">lediga objekt</div>



</div>