@model design.Models.Felanmalan

@{
    ViewBag.Title = "Felanmalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="sidrubrik">Felanmälan</h2>

<div class="maincontainer">
    <div class="row">
        <div class="col-md-6 leftdiv">
            <div class="form-group">
                <div>
                    <label>Namn: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Namn" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Företagsnamn:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Adress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Gatuadress: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Adress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Postnummer:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Adress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Postort:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Adress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Telefonnummer:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Adress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Epost:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Adress" class="form-control" type="text">
                    </div>
                </div>
                <br /><div>

    <label>Meddelande:</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        <textarea class="form-control" name="comment" placeholder="Meddelande"></textarea>
    </div>
                <br />
    <div class="col-md-10">
        @Html.CheckBox("CheckNyckel")
        <label>Markera om vi får gå in med huvudnyckel.</label>
    </div>
    <div class="col-md-10">
        @Html.CheckBox("CheckHund")
        <label>Markera om ni har hund.</label>
    </div>
    <div class="col-md-10">
        @Html.CheckBox("CheckKatt")
        <label>Markera om ni har katt.</label>
    </div>
    <br />
     <br />                   
        <div class="col-md-4">
            <button type="submit" class="btn btn-warning">Skicka <span class="glyphicon glyphicon-send"></span></button>
        </div>
</div>
            </div>
        </div>
        <div class="col-md-3">hejhej</div>
    </div>
</div>