@model design.Models.Felanmalan

@{
    ViewBag.Title = "Felanmalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Felanmalan</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label>Postort</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Postort" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Adress</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Adress" class="form-control" type="text">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">hejhej</div>
    </div>
</div>