@model design.Models.Felanmalan

@{
    ViewBag.Title = "Felanmalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="maincontainer">
    <h2 class="sidrubrik">Felanmälan</h2>
    <br />
    <div class="row">
        <div class="col-md-5 leftdiv">
            <div class="form-group">
                <div>
                    <label>Namn: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="state" placeholder="Namn" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Företagsnamn:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Företagsnamn" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Gatuadress: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Gatuadress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Postort:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Postort" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Postnummer:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Postnummer" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Telefonnummer:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="state" placeholder="Telefonnummer" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>E-postadress:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="state" placeholder="E-postdress" class="form-control" type="text">
                    </div>
                </div>
                <br /><div>

    <label>Meddelande:</label>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        <textarea class="form-control" name="comment" placeholder="Meddelande"></textarea>
    </div>
                <br />
    <div class="col-md-10">
        @Html.CheckBox("CheckNyckel")
        <label>Markera om vi får gå in med huvudnyckel.</label>
    </div>
    <div class="col-md-10">
        @Html.CheckBox("CheckHund")
        <label>Markera om ni har hund.</label>
    </div>
    <div class="col-md-10">
        @Html.CheckBox("CheckKatt")
        <label>Markera om ni har katt.</label>
    </div>
    <br />
     <br />                   
        <div class="col-md-4">
            <button type="submit" class="btn btn-warning">Skicka <span class="glyphicon glyphicon-send"></span></button>
        </div>
</div>
            </div>
        </div>
        <div class="col-md-4 rightdiv">
        <p style="font-size:large;"><b>På hemsidan kan du göra felanmälan dygnet runt.</b></p>
            <h4>
                <br />Du kan även ringa vårt kontor: 019-16 43 70.
                <br />
                <br />Kontorets öppettider:
                <br />Måndag – Fredag kl: 07:30-16:30.
                <br />Telefontid: 09:00-16:00.
                <br />Lunchstängt mellan kl: 12:00-13:00.
                <br />
                <br />Efter kontorstid vid akuta ärenden,
                <br />ring vår Jourtelefon: 010-4705758.
            </h4>
        </div>
    </div>
</div>