
@{
    ViewBag.Title = "FragorOchSvar";
}

<center><h2 class="sidrubrik">Frågor och svar</h2></center>

<div class="maincontainer1">
    <br />
    <br />
   <div class=" maincontainer" style=" margin-left: 40px; margin-right: 40px;">
       
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
            <div class="col-sm-3">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />
       <legend style="color:#e93523">För våra hyresgäster</legend>
        <div class="panel-group col-md-6" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">2a hands uthyrning</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        För att få hyra ut lägenheten i 2:a hand krävs vårt medgivande. En uthyrning i 2:a hand avser
                        alltid en begränsad tid och det krävs beaktansvärda skäl för uthyrningen; tex studier på
                        annan ort. Ansökan måste göras i god tid innan andrahandsuthyrningen ska påbörjas.
                        Blankett.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse26">Antenn/Parabol</a>
                    </h4>
                </div>
                <div id="collapse26" class="panel-collapse collapse">
                    <div class="panel-body">
                        Det är inte tillåtet att sätta upp en parabol/antenn på balkong eller fasaden.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Badrummet luktar illa efter resa</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Vattnet i vattenlåsen avdunstar och då uppstår en obehaglig avloppslukt. Be en
                        granne eller vän att spola i handfat, badkar och wc när du är borta en längre tid, så
                        slipper du problemet.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Besiktning av lägenhet</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        Du bokar själv tid till besiktning, senast två veckor innan avflyttning. Ifall du
                        själv inte har tillfälle att närvara ber vi dig meddela oss detta. Naturligtvis kan
                        du be tex en vän eller släkting att representera dig vid besiktningen men det är
                        alltid bäst ifall du själv kan närvara. Folder om städning.

                        Hyresgästen
                        är ansvarig att underskåp/ kök åter är på plats vid sin avflytt om diskmaskin
                        är installerad av hyresgästen själv. Säkerställ även vattenavstängningen, både
                        för diskmaskin samt om tvättmaskin varit installerad. Vi debiterar en kostnad
                        på 1000 kr om detta ej är utfört vilket ska vara helt ordnat vid
                        slutbesiktning.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Direktbyte av lägenhet</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        Önskar du byta lägenhet. Denna blankett behöver du fylla i.
                        Läs ordentligt vilka handlingar som skall bifogas.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Felanmälan</a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        På hemsidan kan du göra felanmälan dygnet runt.
                        Du kan även ringa vårt kontor 019- 16 43 70.
                        Öppet tider
                        Måndag – Fredag kl: 07:30 -16:30.
                        Telefontid: 09:00 - 16:00.
                        Lunchstängt mellan kl:12:00-13:00.

                        Efter kontorstid, vid akuta ärenden. Ring vår Jour telefon 010-4705758.

                        För felanmälan
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Flyttstädning</a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        Vid avflytt måste hela lägenheten städas noggrant, även vinds-/källarförråd och balkong/
                        altan. Ev. Garage. Om städningen är bristfällig tvingas vi anlita en städfirma som du får betala.
                        Folder om Städning.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Grannar stör</a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        I första hand rekommenderar vi att du tar kontakt med din granne, många gånger är det
                        bästa sättet att lösa problemet. Om störningarna ändå inte upphör är du välkommen att
                        kontakta oss 019- 164370.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Grilla på balkongen</a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">På din balkong gäller El-grill. Har du tillgång till egen uteplats får du använda kolgrill.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Hemförsäkring</a>
                    </h4>
                </div>
                <div id="collapse9" class="panel-collapse collapse">
                    <div class="panel-body">
                        Som hyresgäst hos oss ska du själv teckna egen hemförsäkring för din
                        lägenhet.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Husdjur</a>
                    </h4>
                </div>
                <div id="collapse10" class="panel-collapse collapse">
                    <div class="panel-body">
                        Ja, du får ha husdjur. Hund, katt och fågel. Du får dock ej ha reptiler när du
                        bor som hyresgäst hos oss.
                        Har du hund ska den vara kopplad på gården. Du får inte släppa lös din
                        hund, eller rasta den på vår gård.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Hyra via autogiro</a>
                    </h4>
                </div>
                <div id="collapse11" class="panel-collapse collapse">
                    <div class="panel-body">
                        Det går bra att betala hyran via autogiro, då dras hyran automatiskt vid varje
                        månadsskifte. Blankett.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">Hänsyn</a>
                    </h4>
                </div>
                <div id="collapse12" class="panel-collapse collapse">
                    <div class="panel-body">
                        Hyreslagen ser strängt på Störningar.
                        För att alla ska trivas tillsammans är det viktigt att man inte störs av omkringboende.
                        Läs mer i folder
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">Inlämning av nycklar</a>
                    </h4>
                </div>
                <div id="collapse13" class="panel-collapse collapse">
                    <div class="panel-body">
                        Sker i samband med lägenhetsbesiktningen. Kan du inte närvara vid det tillfället
                        skall nycklarna lämnas in till vårt kontor / Ormestagatan 1 B i Örebro hitta.se
                        senast den första vardagen i månaden kl 12.00. Inlämning av nycklar till
                        garage/ p-plats skall även det ske den första vardagen i månaden kl 12.00
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">Mata fåglar</a>
                    </h4>
                </div>
                <div id="collapse14" class="panel-collapse collapse">
                    <div class="panel-body">
                        Det är förbjudet att mata fåglar från balkong, uteplats eller allmän uteplats som tillhör din
                        hyresvärds område. Det kan dra till sig råttor som kan komma in i fastigheterna och skapa
                        sanitära olägenheter. Det kan även vara störande för dina grannar.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse15">Näta in balkong</a>
                    </h4>
                </div>
                <div id="collapse15" class="panel-collapse collapse">
                    <div class="panel-body">
                        Du får ha grönt nät. Det ska sitta slätt, rakt och väl
                        monterat med buntband. Tips är kompostgaller.
                        Vi tillåter EJ löst hängande fisknät eller hönsnät.

                        För markisväv, kontakta oss först.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">Renoveringar i min lägenhet</a>
                    </h4>
                </div>
                <div id="collapse16" class="panel-collapse collapse">
                    <div class="panel-body">
                        Du får INTE sätta upp lister på t.ex. dörrar och köksluckor, inte heller måla dessa utan vårt
                        tillstånd. Du får byta knoppar/handtag på köksluckorna så länge du inte behöver borra nya
                        hål i luckorna. Spara alltid de gamla knopparna/handtagen så att du kan sätta tillbaka dem
                        vid avflyttning.
                        Du har rätt att på egen bekostnad tapetsera eller måla om väggarna i din lägenhet.
                        Utförandet måste dock bli fackmässigt gjort. Det betyder bl.a. att du måste vara noga
                        med underarbete och att foder och lister skyddas mot stänk och klister. Vi ber dig att välja
                        neutrala kulörer och mönster som nästa hyresgäst kan godta. Vid avflyttning kan du bli
                        ersättningsskyldig om vi anser det nödvändigt att åtgärda lägenheten när nästa hyresgäst
                        ska flytta in.
                        Du får inte göra åverkan på golvet, tex ta bort gamla linoleummattor eller lägga nytt golv.
                        Kontakta oss ifall du vill installera diskmaskin, tvättmaskin eller liknande. Fasta el- eller VVS-
                        installationer måste alltid utföras av en fackman. El- och vattenskador är vanliga och mycket
                        dyrbara och orsakas oftast av felaktiga installationer. Tänk också på att maskinerna endast
                        får användas dagtid (07.00 – 22.00) för att inte störa dina grannar.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">Skadedjur i lägenheten</a>
                    </h4>
                </div>
                <div id="collapse17" class="panel-collapse collapse">
                    <div class="panel-body">
                        Om du upptäcker skadedjur i lägenheten eller fastigheten ska du omedelbart kontakta
                        Anticimex på 019-25 10 60.
                        På Anticimex hemsida kan du läsa mer information – http://www.anticimex.com
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">Sopsortering</a>
                    </h4>
                </div>
                <div id="collapse18" class="panel-collapse collapse">
                    <div class="panel-body">
                        Du ansvarar som hyresgäst att slänga soporna i rätt uppmärkta kärl. Du som
                        hyresgäst tar med dig de sopor som du ej kan slänga i ditt soprum till närmaste
                        återvinningscentral. http://www.orebro.se/305.html

                        Missköts sopsorteringen kan höjd hyreshöjning bli aktuell, då sophämtningen för oss blir till
                        högre taxa.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">Tvättstugan</a>
                    </h4>
                </div>
                <div id="collapse19" class="panel-collapse collapse">
                    <div class="panel-body">
                        Följ noga de reglerna i tvättstugan!
                        Boka tiden ordentligt, var rädd om maskinerna när ni tvättar.
                        läs anvisningarna för tvätt maskinerna noga.
                        Städa efter dig!!!
                        Lämna tvättstugan så nästa hyresgäst kan komma in i tid samt att det är städat och undanplockat efter dig!
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse20">Uppsägning av lägenhet</a>
                    </h4>
                </div>
                <div id="collapse20" class="panel-collapse collapse">
                    <div class="panel-body">
                        Uppsägning ska ske skriftligt via brev, eller på vårt kontor.
                        Uppsägningen bekräftas skriftligen.
                        Blankett
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse21">Uppsägningstid</a>
                    </h4>
                </div>
                <div id="collapse21" class="panel-collapse collapse">
                    <div class="panel-body">
                        Uppsägningstiden är vanligtvis 3 månader. Uppsägningen räknas från
                        nästa månadsskifte och sedan 3 månader framåt. Ifall du tex lämnar in din
                        uppsägning den 23 januari räknas det som att den är uppsagd 1 maj. Efter
                        uppsägning är du som hyresgäst skyldig att upplåta lägenheten för visning för
                        kommande hyresgäster.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse22">Utlämning av nycklar</a>
                    </h4>
                </div>
                <div id="collapse22" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse23">Övertagning av lägenhet</a>
                    </h4>
                </div>
                <div id="collapse23" class="panel-collapse collapse">
                    <div class="panel-body">
                        Din kompis kan naturligtvis lämna in en intresseanmälan men då vi har många sökande kan
                        vi inte garantera att det är just din kompis som får lägenheten. Bostadsanmälan
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse27">Överlåtande av lägenhet</a>
                    </h4>
                </div>
                <div id="collapse27" class="panel-collapse collapse">
                    <div class="panel-body">
                       Till familjemedlem osv
                    </div>
                </div>
            </div>
        </div>
       <legend style="color:#e93523">För kommande hyresgäster</legend>

       <div class="panel-group fragor" id="accordion" style="max-width:520px;">

           <div class="panel panel-default">
               <div class="panel-heading">
                   <h4 class="panel-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapse24">Bostadskön</a>
                   </h4>
               </div>
               <div id="collapse24" class="panel-collapse collapse">
                   <div class="panel-body">
                       texttexthökn ljkl
                   </div>
               </div>
           </div>
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h4 class="panel-title">
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapse25">Intresseanmälan</a>
                   </h4>
               </div>
               <div id="collapse25" class="panel-collapse collapse">
                   <div class="panel-body">
                       Vattnet i vattenlåsen avdunstar och då uppstår en obehaglig avloppslukt. Be en
                       granne eller vän att spola i handfat, badkar och wc när du är borta en längre tid, så
                       slipper du problemet.
                   </div>
               </div>
           </div>
           
       </div>
       <div class="col-md-3 rightdiv information">
           <p style="font-size:large;"><b>Här hittar du de vanligaste frågorna.</b></p>
           <h4>
               <br />Hittar du inte svar på din fråga är du 
               <br />välkomen att kontakta oss via e-post. 
               <br />
               <br />Kontaktuppgifter till oss hittar ni <a class="link" href="~/Home/Kontakt">här</a>.
               <br />
           </h4>
       </div>
    </div>
</div>
       </div>
    </div>
    



