
@{
    ViewBag.Title = "InfoObjekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InfoObjekt</h2>
<div class=" maincontainer1">

    <div class=" row">
        <div class=" col-md-3">
            Lägenhetsinfo
        </div>
        <div class="col-md-3 ">
            Info övrigt om lägenheten
        </div> 
        <div class=" col-md-4">
            Bilder på lägenheter
        </div> 

    </div>
    <div class=" row">
       
        <div class="col-md-3 ">
            Info om området
        </div>
        <div class="col-md-3 ">
            Info om Örebro
        </div>
    </div>


</div>

