
@{
    ViewBag.Title = "Intresseanmalan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="sidrubrik">Intresseanmälan</h2>
<div class="maincontainer1">

    <br />
    <div class="row">
        <div class="col-md-5 leftdiv">
            <div class="form-group">
                <div>
                    <label>Namn: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="state" placeholder="Namn" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Personnummer: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="state" required placeholder="Personnummer" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Antal barn: </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="deltagareinput" placeholder="Antal barn" class="form-control input-md" type="number">
                    </div>
                </div>
                <br />
                <div>
                    <label>Gatuadress: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Gatuadress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Postort:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Postort" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Postnummer:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Postnummer" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Telefonnummer: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="state" placeholder="Telefonnummer" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Alternativt telefonnummer:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="state" placeholder="Telefonnummer" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>E-postadress:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="state" placeholder="E-postdress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Yrke: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="state" placeholder="E-postdress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Årsinkomst: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="state" placeholder="E-postdress" class="form-control" type="text">
                    </div>
                </div>
                <br />
                <div>
                    <label>Arbetsgivare: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="state" placeholder="E-postdress" class="form-control" type="text">
                    </div>
                </div>
                
                <br />
                <div class="col-md-12 checkbox1">
                    <label>Jag söker: </label>

                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-placeholder="false">
                            typ av boende/objekt
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu drop">
                            <li><input type="checkbox" id="ID" name="Studentboende" value="Studentboende"><label for="ID"> Studentboende</label>
                            <li><input type="checkbox" id="ID" name="Seniorboende" value="Seniorboende"><label for="ID"> Seniorboende 55+</label>
                            <li><input type="checkbox" id="ID" name="Övrigt" value="Övrigt"><label for="ID"> Övrigt</label>
                        </ul>
                    </div>
                    </div>
                    <br />
                    <br />
                <div class="col-md-12 checkbox1">
                    <label>Område: </label>

                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-placeholder="false">
                            område
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu drop">
                            <li><input type="checkbox" id="ID" name="Kumla" value="Kumla"><label for="ID"> Kumla</label>
                            <li><input type="checkbox" id="ID" name="Nora" value="Nora"><label for="ID"> Nora</label>
                            <li><input type="checkbox" id="ID" name="Studentboende" value="Studentboende"><label for="ID"> Studentboende</label>
                            <li><input type="checkbox" id="ID" name="Seniorboende 55+" value="Seniorboende 55+"><label for="ID"> Seniorboende 55+</label>
                            <li><input type="checkbox" id="ID" name="Örebro" value="Örebro"><label for="ID"> Örebro</label>
                            <li><input type="checkbox" id="ID" name="Örebro Almby" value="Örebro Almby"><label for="ID"> Örebro Almby</label>
                            <li><input type="checkbox" id="ID" name="Örebro Centralt" value="Örebro Centralt"><label for="ID"> Örebro Centralt</label>
                            <li><input type="checkbox" id="ID" name="Örebro Väster" value="Örebro Väster"><label for="ID"> Örebro Väster</label>
                            <li><input type="checkbox" id="ID" name="Örebro Öster" value="Örebro Öster"><label for="ID"> Örebro Öster</label>
                        </ul>
                    </div>
                </div>
                    <div>
                        <label>Antal rum: </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="ruminput" placeholder="Antal rum" class="form-control input-md" type="number">
                        </div>
                    </div>
                    <br />
                    <div>
                        <label>Våning: </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="våninginput" placeholder="Våning" class="form-control input-md" type="number">
                        </div>
                    </div>
                    <br />
                    <div>
                        <label>Maxhyra: </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="hyrainput" placeholder="maxhyra" class="form-control input-md" type="number">
                        </div>
                    </div>
                    <br />
                <div class="col-md-12 checkbox1">
                    <label>Övriga önskemål: </label>

                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-placeholder="false">
                            jag önskar
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu drop">
                            <li><input type="checkbox" id="ID" name="Altan" value="Altan"><label for="ID"> Altan</label>
                            <li><input type="checkbox" id="ID" name="Balkong" value="Balkong"><label for="ID"> Balkong</label>
                            <li><input type="checkbox" id="ID" name="Hiss" value="Hiss"><label for="ID"> Hiss</label>
                            <li><input type="checkbox" id="ID" name="Kokvrå" value="Kokvrå"><label for="ID"> Kokvrå</label>
                            <li><input type="checkbox" id="ID" name="Radhus" value="Radhus"><label for="ID"> Radhus</label>

                        </ul>
                    </div>
                </div>
                    <br />
                    <div>
                        <label>Egna ord:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <textarea class="form-control" name="comment" placeholder="Meddelande"></textarea>
                        </div>
                        <br />
                        <div class="col-md-12 btn-group-lg">
                            <button class="btn btn-default " type="button" id="medsökande">
                                Medsökande
                                <span class="caret"></span>
                            </button>
                        </div>
                        <br />
           <div class="medsökande">
               <div>
                   <label>Namn: *</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                       <input name="state" placeholder="Namn" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>Personnummer: *</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                       <input name="state" required placeholder="Personnummer" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>Antal barn: </label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                       <input name="deltagareinput" placeholder="Antal barn" class="form-control input-md" type="number">
                   </div>
               </div>
               <br />
               <div>
                   <label>Gatuadress: *</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                       <input name="state" placeholder="Gatuadress" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>Postort:</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                       <input name="state" placeholder="Postort" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>Postnummer:</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                       <input name="state" placeholder="Postnummer" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>Telefonnummer: *</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                       <input name="state" placeholder="Telefonnummer" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>Alternativt telefonnummer:</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                       <input name="state" placeholder="Telefonnummer" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>E-postadress:</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                       <input name="state" placeholder="E-postdress" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>Yrke: *</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                       <input name="state" placeholder="E-postdress" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>Årsinkomst: *</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                       <input name="state" placeholder="E-postdress" class="form-control" type="text">
                   </div>
               </div>
               <br />
               <div>
                   <label>Arbetsgivare: *</label>
                   <div class="input-group">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                       <input name="state" placeholder="E-postdress" class="form-control" type="text">
                   </div>
               </div>
           </div>
             
                        <br />
                        <br />
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-warning">Skicka <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-4 rightdiv">
            <p style="font-size:large;"><b>På hemsidan kan du göra felanmälan dygnet runt.</b></p>
            <h4>
                <br />Du kan även ringa vårt kontor på telefon: 019-16 43 70.
                <br />
                <br />Kontorets öppettider:
                <br />Måndag – Fredag kl: 07:30-16:30.
                <br />Telefontid: 09:00-16:00.
                <br />Lunchstängt mellan kl: 12:00-13:00.
                <br />
                <br />Efter kontorstid vid akuta ärenden,
                <br />ring vår Jourtelefon: 010-4705758.
            </h4>
        </div>
    </div>
</div>

