@{
    ViewBag.Title = "Intresseanmalan2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="sidrubrik">Intresseanmälan</h2>
<div class="maincontainer1">

    <div class="row ontop">
        <div class="col-md-5 leftdiv">
            <div class="form-group">
                <div class="falt">
                    <label>Namn: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="state" placeholder="Namn" class="form-control" type="text">
                    </div>
                </div>

                <div class="falt">
                    <label>Personnummer: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="state" required placeholder="Personnummer" class="form-control" type="text">
                    </div>
                </div>

                <div class="falt">
                    <label>Antal barn: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="deltagareinput" placeholder="Antal barn" class="form-control input-md" type="number">
                    </div>
                </div>

                <div class="falt">
                    <label>Gatuadress: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Gatuadress" class="form-control" type="text">
                    </div>
                </div>

                <div class="falt">
                    <label>Postnummer:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Postnummer" class="form-control" type="text">
                    </div>
                </div>

                <div class="falt">
                    <label>Postort: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="state" placeholder="Postort" class="form-control" type="text">
                    </div>
                </div>

                <div class="falt">
                    <label>Telefonnummer: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="state" placeholder="Telefonnummer" class="form-control" type="text">
                    </div>
                </div>

                <div class="falt">
                    <label>Alternativt telefonnummer: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="state" placeholder="Telefonnummer" class="form-control" type="text">
                    </div>
                </div>

                <div class="falt">
                    <label>E-postadress: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="state" placeholder="E-postdress" class="form-control" type="text">
                    </div>
                </div>

                <div class="falt">
                    <label>Yrke/Arbetsgivare: * <i class="glyphicon glyphicon-question-sign"></i></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input name="state" placeholder="Yrke/Arbetsgivare" class="form-control" type="text">
                    </div>
                </div>

                <div class="falt">
                    <label>Årsinkomst: *</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                        <input name="state" placeholder="Årsinkomst" class="form-control" type="text">
                    </div>
                </div>



                <div class="falt">
                    <label>Egna ord:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea class="form-control" name="comment" placeholder="Max 500 tecken"></textarea>
                    </div>
                </div>
                <br />
                @*<div class="btnmedsökande col-md-12 btn-group-lg">*@
                <div class="btnmedsökande btn-group-lg">
                    <button class="btn" type="button" id="medsökande" onclick="hideshow()">
                        Medsökande
                        <span class="caret"></span>
                    </button>
                </div>

                <div class="medsökandediv" id="medsökandediv" style="display:none;">
                    <div class="falt">
                        <label>Namn: *</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="state" placeholder="Namn" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="falt">
                        <label>Personnummer: *</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="state" required placeholder="Personnummer" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="falt">
                        <label>Antal barn: *</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="deltagareinput" placeholder="Antal barn" class="form-control input-md" type="number">
                        </div>
                    </div>

                    <div class="falt">
                        <label>Gatuadress: *</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input name="state" placeholder="Gatuadress" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="falt">
                        <label>Postnummer:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input name="state" placeholder="Postnummer" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="falt">
                        <label>Postort: *</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input name="state" placeholder="Postort" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="falt">
                        <label>Telefonnummer: *</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="state" placeholder="Telefonnummer" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="falt">
                        <label>Alternativt telefonnummer: *</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="state" placeholder="Telefonnummer" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="falt">
                        <label>E-postadress: *</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="state" placeholder="E-postdress" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="falt">
                        <label>Yrke/Arbetsgivare: * <i class="glyphicon glyphicon-question-sign"></i></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                            <input name="state" placeholder="Yrke/Arbetsgivare" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="falt">
                        <label>Årsinkomst: *</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                            <input name="state" placeholder="Årsinkomst" class="form-control" type="text">
                        </div>
                    </div>


                </div>

                <br />
                <br />
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Skicka <span class="glyphicon glyphicon-send"></span></button>
                </div>
                <div class="col-md-4">
                    <a href="~/Home/LedigaObjekt" type="submit" class="btn btn-danger">Avbryt</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 rightdiv information">
            <p style="font-size:x-large;"><b>Intresseanmälan gäller endast för:</b></p>
            <h4>
                <b>Adress:</b> Rynningegatan 27 <br />
                <b>Antal rum:</b> 3
                <br /><b>Hyra:</b> 7000 kr/månad

                <br />
            </h4>
        </div>
    </div>
</div>

