
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<center><h2 class="sidrubrik">Kontakta oss</h2></center>
<div class="maincontainer1">
    <div class="maincontainer ontop">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 divleft">
                <h3 class="red">John Ekströms bygg AB</h3>
                <p>
                    Org nr 556212-0468
                    <br />Ormestagatan 1B
                    <br />702 83 Örebro
                    <br /><span class="glyphicon glyphicon-map-marker"></span><a href="https://goo.gl/maps/oeFiqLVaNsv" target="_blank"> Hitta hit</a>
                </p>
                <div class="btnredigera btn-group-xs">
                    <button class="btn" type="button" id="redigerabtn" onclick="showredigera()">
                        Redigera
                        <span><i class="glyphicon glyphicon-pencil"></i></span>
                    </button>
                    <div class="redigera" id="redigera" style="display: none; background-color: #dcdcdc;">
                        <div class="col-md-12" style="background-color: #dcdcdc;">
                            <div class="falt">
                                <label>
                                    Rubrik:
                                </label>
                                <div class="input-group">
                                    <input name="state" placeholder="John Ekströms Bygg" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="falt">
                                <label>
                                    Text:
                                </label>
                                <img src="~/Content/Images/publish-wordpress-page.jpg" class="img-responsive" alt="Cinque Terre">
                                <button type="submit" class="btn btn-success" style="margin: 10px 10px 10px 0;">Spara <span class="glyphicon glyphicon-floppy-saved"></span></button>
                                <button type="submit" class="btn btn-danger" style="margin: 10px 0 10px 0;">Avbryt</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h3 class="red">Kontorets öppettider</h3>
                <p>
                    Måndag - Fredag: 07.30-16.30
                    <br />Telefontid: 09.00-16.00
                    <br />Lunchstängt: 12.00-13.00

                </p>
                <br />
                <div class="btnredigera btn-group-xs">
                    <button class="btn" type="button" id="redigerabtn">
                        Redigera <span><i class="glyphicon glyphicon-pencil"></i></span>
                    </button>
                </div>

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <h3 class="red">Telefon</h3>
                <p>
                    Telefon: 019 16 43 70
                    <br />Jourtelefon efter kontorstid:<br />
                    010 470 57 58
                    <br />
                    <br />
                    <div class="btnredigera btn-group-xs">
                        <button class="btn" type="button" id="redigerabtn">
                            Redigera <span><i class="glyphicon glyphicon-pencil"></i></span>
                        </button>
                    </div>
            </div>
        </div>


        <br />
        <br />
        <br />
        <br />



        <legend style="color:#e93523;">Lägg till ny anställd</legend>
        <div class="row" style="background-color:#dcdcdc;">


                <div >
                    <br />
                    <div class=" col-md-6 col-lg-6" style="padding-right:0px;">
                    <label>Bild:</label>
                    <div class="row falt">

                        <div class="col-md-8 col-lg-5" >

                            <input name="state" placeholder="~/Content/Images/Blaslampan%202%20-%203.jpg" class="form-control" style="border-radius:0px;" type="text">
                        </div>
                        <div class="col-md-3 col-lg-3" style="padding-left:0px;">
                            <button type="submit" class="btn btn-default">Ladda upp <span class="glyphicon glyphicon-file"></span></button>
                        </div>
    </div>
</div>
                    <div class="col-md-12 col-lg-12">
                        <div class="falt">
                            <label>
                                Text:
                            </label>
                            <img src="~/Content/Images/publish-wordpress-page.jpg" class="img-responsive" alt="Cinque Terre">
                        </div>
                    </div>
            
                </div>
            <div class="col-md-5">
                <p>
                    <br />
                    Här kan du välja vilken avdelning den nyanställda ska synas på. Du kan även välja vilken rad samt kolumn du vill att den ska synas på hemsidan.
                </p>

                <div class="col-md-10 col-lg-7" style="padding-left:0px;">
                    <label>Avdelning:</label><br />
                    <form>
                        <input type="radio" name="val" value="Ja"> Kontoret
                        <input type="radio" name="val" value="Nej"> Underhåll<br />

                    </form>

                    <div class="falt">

                        <div class="input-group">
                            <label>Rad:</label><br />
                            <input name="rad" placeholder="" class="form-control input-md" type="number">
                        </div>
                    </div>
                    <div class="falt">
                        <label>Kolumn:</label>
                        <div class="input-group">
                            
                            <input name="kolumn" placeholder="" class="form-control input-md" type="number">
                        </div>
                    </div>
                </div>
                <div class=" col-md-5 col-lg-6" style="margin-top:25px; padding-left:0px;">

                    <button type="submit" class="btn btn-success">Lägg till anställd <span class="glyphicon glyphicon-floppy-saved"></span></button>

                </div>

            </div>
        </div>





        <br />
        <br />
        <br />


        <legend style="color:#e93523">Vi som jobbar på kontoret</legend>
        <div class="row">
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/Stieg.jpg" alt="Stieg Ekström"></center>
                <h4>Stieg Ekström</h4>
                <p>
                    VD<br>
                    <a href="mailto:stieg@je-bygg.se" target="_blank">stieg@je-bygg.se</a>
                    <br />
                    <br />
                    <br />
                </p>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="showredigera2()">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                

                    <div class="redigera row" id="redigera2" style="display:none; background-color:#dcdcdc;">
                        <br /><div class=" col-md-6 col-lg-6" style="padding-right:0px;">
    <label>Bild:</label>
    <div class="row falt">

        <div class="col-md-9">

            <input name="state" placeholder="~/Content/Images/Blaslampan%202%20-%203.jpg" class="form-control" style="border-radius:0px;" type="text">
        </div>
        <div class="col-md-3 col-lg-3" style="padding-left:0px;">
            <button type="submit" class="btn btn-default">Ladda upp <span class="glyphicon glyphicon-file"></span></button>
        </div>
    </div>


</div>
                        <div class="col-md-12 col-lg-12">
                           
                                <label>
                                    Text:
                                </label>
                                <img src="~/Content/Images/publish-wordpress-page.jpg" class="img-responsive" alt="Cinque Terre" style="border:1px solid grey;">
                                <button type="submit" class="btn btn-success" style="margin: 10px 10px 10px 0;">Spara <span class="glyphicon glyphicon-floppy-saved"></span></button>
                            <button type="submit" class="btn btn-danger" style="margin: 10px 0 10px 0;">Avbryt</button>


                        </div>
                    </div>


               

            </div>

            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/Anna.jpg" alt="Anna Ekström"></center>
                <h4>Anna Ekström</h4>
                <p>
                    Hyresinbetalningar<br />
                    Personalansvarig<br />
                    019 - 16 43 72<br />
                    <a href="mailto:anna@je-bygg.se" target="_blank">anna@je-bygg.se</a>
                </p>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">

                </div>
            </div>




            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/Thor Mari.jpg" alt="Mari Ekström Thor"></center>
                <h4>Mari Ekström Thor</h4>
                <p>
                    Ekonomichef/Kamrer<br />
                    019 - 16 43 71<br />
                    <a href="mailto:marie@je-bygg.se" target="_blank">marie@je-bygg.se</a>
                    <br />
                    <br />
                </p>
                <div class="row">

                    <div class="col-lg-4">
                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn" type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-4">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/TungfeltLena02.jpg" alt="Lena Ekström Tungfelt"></center>
                <h4>Lena Ekström Tungfelt</h4>
                <p>
                    Fastighetsförvaltare<br />
                    019 - 16 43 76 <br />
                    <a href="mailto:lena@je-bygg.se" target="_blank">lena@je-bygg.se</a>
                    <br />
                    <br />
                </p>
                <div class="row">

                    <div class="col-lg-4">
                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn" type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>


                    <div class="col-lg-4">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <br />
        <br />

        <div class="row">
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/AnderssonAnnette.jpg" alt="Annette Andersson"></center>
                <h4>Annette Andersson</h4>
                <p>
                    Receptionist <br />
                    Bostadsförmedlare (Örebro)<br />
                    019 - 16 43 70<br />
                    <a href="mailto:info@je-bygg.se" target="_blank">info@je-bygg.se</a>
                </p>
                <a class="link" href="~/Home/Intresseanmalan">Intresseanmälan >></a>
                <br />
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/RunellIrene.jpg" alt="Irene Runell"></center>
                <h4>Irene Runell</h4>
                <p>
                    Ekonomiassistent<br />
                    Leverantörsfakturor<br />
                    019 - 16 43 74
                </p>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/Ottosson-Carina.jpg" alt="Carina Ottosson"></center>
                <h4>Carina Ottosson</h4>
                <p>
                    Besiktningsansvarig<br>
                    Bostadsförmedlare<br />
                    (Kumla/Nora)<br />
                    070 - 410 40 11
                </p>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/anonym-man.jpg" alt="Adis"></center>
                <h4>Adis</h4>
                <p>
                    Ekonomiassistent
                </p>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br />
        <br />
        <legend style="color:#e93523">Vi som fixar och underhåller</legend>
        <div class="row">
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/Johansson-Patrik.jpg" alt="Patrik Johansson"></center>
                <h4>Patrik Johansson</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/StrandbergMikael.jpg" alt="Mikael Strandberg"></center>
                <h4>Mikael Strandberg</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/BergTony.jpg" alt="Tony Berg"></center>
                <h4>Tony Berg</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/WibergBenny.jpg" alt="Benny Wiberg"></center>
                <h4>Benny Wiberg</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-7">

                <center><img class="img-responsive" src="~/Content/Images/ErikssonPeder.jpg" alt="Peder Eriksson"></center>
                <h4>Peder Eriksson</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/Gustafsson-Jan-Ake.jpg" alt="Jan Åke Gustavsson" /></center>
                <h4>Jan-Åke Gustavsson</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/LarsenPeter.jpg" alt="Peter Larsen"></center>
                <h4>Peter Larsen</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/RunellHans.jpg" alt="Hans Rünell"></center>
                <h4>Hans Rünell</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/Akerstrandorjan.jpg" alt="Örjan Åkerstrand"></center>
                <h4>Örjan Åkerstrand</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/anonym-man.jpg" alt="Richard Gustafsosn"></center>
                <h4>Richard Gustafsson</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/StenArnsheml.png" alt="Sten Arnshelm"></center>
                <h4>Sten Arnsheml</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3 col-xs-7">
                <center><img class="img-responsive" src="~/Content/Images/anonym-man.jpg" alt="Britt-Marie Jansson"></center>
                <h4>Britt-Marie Jansson</h4>
                <div class="row">


                    <div class="col-lg-3">
                        <div class="btnredigera btn-group-xs" style="text-align:left;">
                            <button class="btn " type="button" id="redigerabtn" onclick="">
                                Redigera
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                            </button>
                        </div>


                    </div>
                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">

                        <div class="btnredigera btn-group-xs" style="text-align:right;">
                            <button class="btn btn-danger" type="button" id="redigerabtn">
                                Ta bort
                            </button>
                        </div>
                    </div>
                </div>
                <br />
            </div>

        </div>
        
    </div>
        </div>



    
    



