@using design.Controllers;
@using design.Models;
@using System.Collections.Generic;
@{
    ViewBag.Title = "Varafastigheter";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    List<String> m = new List<string>();
    m.Add("123 543, Rynningegatan 7");
    m.Add("145 432, Rynningegatan 8");

   List<String> bilder = new List<string>();
    bilder.Add("bild 1");
    bilder.Add("bild 2");
    bilder.Add("bild 3");

    List<String> stad = new List<string>();
    stad.Add("Örebro");
    stad.Add("Nora");
    stad.Add("Kumla");

    List<String> omrade = new List<string>();
    omrade.Add("Örebro, Norr");
    omrade.Add("Örebro, Centralt");
    omrade.Add("Örebro, Studentboende");

    List<String> val = new List<string>();
    val.Add("Hiss");
    val.Add("Radhus");
    val.Add("Balkong");
}
<center><h2 class="sidrubrik">Objekt</h2></center>
<div class="maincontainer1">
    <div class="maincontainer ">
        <legend style="color:#e93523;">Administrera objekt</legend>
        <div class=" row">
          

            <div class="col-md-5 col-lg-5" style=" width:280px;">
                <label>Sök på adress eller hyr-id</label>
                <div class="input-group">

                    <input type="text" class="form-control" placeholder="Sök">


                </div>



                <label>Visa:</label><br />
                <form>
                    <input type="radio" name="val" value="Ledig" checked> Endast lediga objekt <br />
                    <input type="radio" name="val" value="EjLedig"> Ej lediga objekt<br />
                    <input type="radio" name="val" value="EjLedig" > Alla objekt<br />


                </form>
                <br />
                <button type="submit" class="btn btn-lg btn-default">Sök objekt <span class="glyphicon glyphicon-search"></span></button>

                
            </div>
           
                <div class=" col-md-5 col-lg-5">
                    <label>2 Objekt</label>
                    <div>
                        
                        <select class="list-group" id="objekt" name="objekt" multiple="multiple" style="width:800px; height:200px;">
                            @foreach (string s in m)
            {
                        <option id="objekt" class="list-group-item" value="@s">@s</option>
            }
                        </select>
                    </div>
                </div>
            </div>

       <br />
      
        <div class=" row" style="background-color:#dcdcdc;">
            
            <div class=" col-md-3 col-lg-3" >
                <div class="falt">

                    <label>
                        Hyr-id: *
                    </label>
                    <div class="input-group">
                        <input name="state" placeholder="" class="form-control" type="text">
                    </div>
                </div>
                <div class="falt">
                    <label>Adress:</label>
                    <div class="input-group">
                        <input name="state" required placeholder="" class="form-control" type="text">
                    </div>
                </div>
                <div class="falt">

                    <label>
                        Ledigt från:
                    </label>
                    <div class="input-group">
                        <input name="state" placeholder="" class="form-control" type="date" style="width:205px;" >
                    </div>
                </div>
                <div class="falt">

                    <label>
                        Stad:
                    </label>
                    <div class="input-group">
                        <input name="state" placeholder="" class="form-control" type="text">
                    </div>
                </div>
                    <div class="falt">
                     
                        <label>
                            Område:
                        </label>
                        <div class="input-group">
                            <input name="state" placeholder="" class="form-control" type="text">
                        </div>
                    </div>

               

                    <div class="falt">
                        <label>Typ av objekt:</label>
                        <div class="input-group">
                            <input name="deltagareinput" placeholder="Lägenhet" class="form-control input-md" type="text">
                        </div>
                    </div>
                <div class="falt">
                    <label>Bredband:</label>
                    <div class="input-group">
                        <input name="deltagareinput" placeholder="" class="form-control input-md" type="text">
                    </div>
                </div>
               
            </div>
            <div class=" col-md-3 col-lg-3">
                <div class="falt">

                    <label>
                        Våning:
                    </label>
                    <div class="input-group">
                        <input name="state" placeholder="" class="form-control" type="text">
                    </div>
                </div>
                <div class="falt">
                    <label>Hyra:</label>
                    <div class="input-group">
                        <input name="state" required placeholder="" class="form-control" type="text">
                    </div>
                </div>
                <div class="falt">

                    <label>
                        Yta:
                    </label>
                    <div class="input-group">
                        <input name="state" placeholder="" class="form-control" type="text">
                    </div>
                </div>
                <div class="falt">

                    <label>
                        Antal rum:
                    </label>
                    <div class="input-group">
                        <input name="state" placeholder="" class="form-control" type="text">
                    </div>
                </div>
                <div class="falt">

                    <label>
                       Övrigt:
                    </label>
                    <div class="col-md-12 checkbox1" style="margin-bottom:7px;">
                      
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" data-placeholder="false">
                                övriga val
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu drop">
                                <li><input type="checkbox" id="ID" name="Altan" value="Altan"><label for="ID"> Altan</label>
                                <li><input type="checkbox" id="ID" name="Balkong" value="Balkong"><label for="ID"> Balkong</label>
                                <li><input type="checkbox" id="ID" name="Hiss" value="Hiss"><label for="ID"> Hiss</label>
                                <li><input type="checkbox" id="ID" name="Kokvrå" value="Kokvrå"><label for="ID"> Kokvrå</label>
                                <li><input type="checkbox" id="ID" name="Radhus" value="Radhus"><label for="ID"> Radhus</label>
                                <li><input type="checkbox" id="ID" name="Hiss" value="Hiss"><label for="ID"> Ej balkong</label>
                                <li><input type="checkbox" id="ID" name="Kokvrå" value="Kokvrå"><label for="ID"> Ej hiss</label>
                                <li><input type="checkbox" id="ID" name="Radhus" value="Radhus"><label for="ID"> Kallhyra</label>
</ul>
                        </div>
                    </div>
                </div>

                <div class="falt">
                    <label>Fritext:</label>
                    <div class="input-group">
                        <textarea class="form-control" name="comment" placeholder="Övrig information" style="height:100px; width:205px;"></textarea>
                    </div>
                </div>
             

            </div>
            <div class=" col-md-5">


                <div class="row falt">

                    <div class="col-md-7 col-lg-6" style="padding-right: 0px;">

                        <div class="">
                            <label>Bild:</label>
                            <div class=" input-group">
                                <input name="state" placeholder="" class="form-control" style="border-radius:0px;" type="text">
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-3 col-lg-3" style="padding-left:0px;">

                        <label style="color:transparent">.</label>
                        <button type="submit" class="btn btn-default">Hämta bild <span class="glyphicon glyphicon-file"></span></button>
                    </div>
                </div>

                    <div class="">

                        <button type="submit" class="btn btn-primary btn-sm" style="margin-top:5px;">Lägg till bild <span class="glyphicon glyphicon-arrow-down"></span></button>
                    </div>
                         <div class=" row">
                            <div class=" col-md-7 col-lg-7">
                                <label>Uppladdade bilder</label>
                                <select class="list-group" id="objekt" name="objekt" multiple="multiple" style="width:205px; height: 100px; margin-bottom:5px;">
                                    @foreach (string b in bilder)
            {
                                <option id="objekt" class="list-group-item" value="@b">@b</option>
            }
                                </select>
                            </div>
                            <div class=" col-md-2 col-lg-2"><label>bild 1</label>
                                <img src="~/Content/Images/arlen%2025%20-%202.jpg" style="width: 150px;"/>
                             </div> 
                        </div>
                        <button type="submit" class="btn btn-danger btn-sm">Ta bort bild <span class="glyphicon glyphicon-trash"></span></button>
                  
                
                <div class="row falt">

                    <div class=" col-md-7 col-lg-6" style="padding-right:0px;">
                        <div class="">
                            <label>Länk till karta:</label>
                            <div class="input-group">
                                <input name="state" placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-5 col-lg-5" style="padding-left:0px;">
                        <br />
                        <br />

                        <a href="https://goo.gl/maps/gvNVpwmYs5n" target="_blank"> Öppna google maps</a>
                    </div>


                </div>
                <div class="col-md-10 col-lg-7" style="padding-left:0px;">
                    <label>Ledig:</label><br />
                    <form>
                        <input type="radio" name="val" value="Ja"> Ja
                        <input type="radio" name="val" value="Nej" checked> Nej<br />

                    </form>
                </div>

                <div class=" col-md-5 col-lg-6" style="margin-top:25px; padding-left:0px;">

                    <button type="submit" class="btn btn-success btn-lg">Spara objekt <span class="glyphicon glyphicon-floppy-saved"></span></button>

                </div>
                <div class=" col-md-5 col-lg-6" style="margin-top:25px; padding-left:0px;">

                    <button type="submit" class="btn btn-danger btn-lg">Ta bort objekt <span class="glyphicon glyphicon-trash"></span></button>

                </div>
                <div class=" col-md-9 col-lg-9" style="margin-left:205px; margin-top:25px; padding-left:0px; padding-bottom:10px;">

                    <button type="submit" class="btn btn-default btn-sm">Rensa fält</button>
                    
                </div>
            </div>
             
               
            
        </div>
   
       

    </div>
     </div>   
