
@{
    ViewBag.Title = "Nyheter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="text-align:center;"><h2 class="sidrubrik">Nyheter</h2></div>
    <div class="maincontainer1">
  
        <div class=" row ontop">
          
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="nyhet">
                    <h2>Glad påsk!</h2>
                    <p style="text-align:left;">
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum

                        <br />
                        <br />Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    </p>
                    <p style="text-align:right;">2017-04-12</p>
                </div>
                <br />
                <div class="nyhet">
                    <h2>Spara vatten!</h2>
                    <p style="text-align:left;">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br />Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                    <p style="text-align:right;">2017-04-10</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 nyhetsarkiv">
                <div>
                    <p class="rubrik-nyhetsarkiv"><b>Nyhetsarkiv</b></p>
                    <a class="link" href="#" style="text-align:left">April 2017</a><br />
                    <a class="link" href="#" style="text-align:left">Mars 2017</a><br />
                </div>
            </div>
        </div>
</div>