
@{
    ViewBag.Title = "Nyheter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div style="text-align:center;"><h2>Nyheter</h2></div>
    <br />
    <br />
    <div style="text-align: center; margin-left:5%; margin-right: 5%;" >
        <h2>Glad påsk!</h2>
        <p style="text-align:left;">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br />Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
        <p style="text-align:right;">2017-04-12</p>
    </div>
    <hr />
    <div style="text-align: center; margin-left:5%; margin-right: 5%;">
        <h2>Glad påsk!</h2>
        <p style="text-align:left;">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum <br />Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
        <p style="text-align:right;">2017-04-10</p>    
     </div>
</div>