
@{
    ViewBag.Title = "seriorboende";
}

<center><h2 class="sidrubrik">Seniorboende 55+</h2></center>

<div class="maincontainer1">
    <div class="maincontainer">

        <center>
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-default btn-block" type="button" id="menu1" data-toggle="Varafastigheter">Tillbaka till våra <br />fastigheter</button><br />

                </div>
                <div class="col-md-8">
                    <h3>Välkomen till seniorboendet Nära Till!</h3>

                    <center><img class="img-responsive" src="~/Content/Images/BackgrundSunnanlid.jpg" alt=""></center>
                    <h3>www.naratill.se</h3>

                    <p>
                        Seniorboendet Nära Till invigdes vintern 1997. Det är beläget i den gamla brandstationen mitt i centrala Örebro med gångavstånd till allt vad en stad kan erbjuda. Galleriorna Vågen och Krämaren ligger bara 300 meters gångväg bort. Fastigheten ägs av Fastighetsförvaltare Stieg Ekström, som ansvarar för anvisning av lägenheter samt har hand om hyreskön. Läs mer
                        <br />
                        <br />

                        Nära Till klassas av Örebro kommun som ett seniorboende Kategori 3. Det är den högsta kategorin och ett erkännande av vår fina service.

                    </p>

                </div>
                <div class="col-md-2">

                </div>
            </div>
        </center>
        </div>
    </div>
