
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    List<String> bilder = new List<string>();
    bilder.Add("bild 1");
    bilder.Add("bild 2");
    bilder.Add("bild 3");
}

<center><h2 class="sidrubrik">Studentboende</h2></center>

<div class="maincontainer1">




    <div class=" row" style="margin-left:3%; margin-right:3%; margin-bottom: 3%;">

        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">

            <div class=" col-md-10 col-sm-12 col-xs-12 col-lg-8">
                <h3>Bilder från studenter</h3>
                <div id="myCarousel1" class="carousel slide" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li class="item1 active"></li>
                        <li class="item2"></li>
                        <li class="item3"></li>

                    </ol>
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <img src="~/Content/Images/erikrosenbergsväg.PNG" alt="Erik Rosenbergsväg 1">
                            <div class="carousel-caption">Erik RosenbergsVäg 1 </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/salsmästargatan.png" alt="Salsmästaregatan 24-52">
                            <div class="carousel-caption">Salsmästaregatan 24-52 </div>
                        </div>
                        <div class="item">
                            <img src="~/Content/Images/tärnvägen.png" alt="Tärnvägen 12-20 ">
                            <div class="carousel-caption">Tärnvägen 12-20</div>
                        </div>
                    </div>
                    <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <div class="btnredigera btn-group-xs">
                    <button class="btn" type="button" id="redigerabtn" onclick="showbilderStudent()" >
                        Redigera
                        <span><i class="glyphicon glyphicon-pencil"></i></span>
                    </button>
                    </div>
                <div id="bilderStudent" style="background-color: #dcdcdc; padding-bottom: 10px; display: none;" >


                    <div class="row">

                        <div class="col-md-7 col-lg-6" style="padding-right: 0px;">

                            <div class="">
                                <label>Bild:</label>
                                <div class=" input-group">
                                    <input name="state" placeholder="" class="form-control" style="border-radius:0px;" type="text">
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-3 col-lg-3" style="padding-left:0px;">

                            <label style="color:transparent">.</label>
                            <button type="submit" class="btn btn-default">Hämta bild <span class="glyphicon glyphicon-file"></span></button>
                        </div>
                    </div>

                    <label>Adress:</label>
                    <div class=" input-group">
                        <input name="state" placeholder="" class="form-control" style="border-radius:0px;" type="text">
                    </div>

                    <div class="">

                        <button type="submit" class="btn btn-primary btn-sm" style="margin-top:5px;">Lägg till bild <span class="glyphicon glyphicon-arrow-down"></span></button>
                    </div>
                    <div class=" row">
                        <div class=" col-md-6 col-lg-6">
                            <label>Uppladdade bilder</label>
                            <select class="list-group" id="objekt" name="objekt" multiple="multiple" style="width:150px; height: 100px; margin-bottom:5px;">
                                @foreach (string b in bilder)
                                {
                                    <option id="objekt" class="list-group-item" value="@b">@b</option>
                                }
                            </select>
                        </div>
                        <div class=" col-md-3 col-lg-3">
                            <label>bild 1</label>
                            <img src="~/Content/Images/arlen%2025%20-%202.jpg" style="width: 120px;" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-sm">Ta bort bild <span class="glyphicon glyphicon-trash"></span></button>
                    <div style="margin-top:25px; padding-left:0px;">

                        <button type="submit" class="btn btn-success">Spara <span class="glyphicon glyphicon-floppy-saved"></span></button>

                    </div>
                </div>

                </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-4">
            <h3>Bra länkar för dig som student</h3>
            <h4 class="radavstånd">
                <a href="https://www.willys.se/Vara-butiker/Butiker/Willys-Orebro-Almby/" target="_blank">Willys</a><br />
                <a href="http://bibliotek.orebro.se/" target="_blank">Stadsbiblioteket</a><br />
                <a href="http://www.lanstrafiken.se/Orebro/" target="_blank">Länstrafiken</a><br />
                <a href="http://www.xn--ob-eka.se/information/kundservice/vara-varuhus/oob-orebro" target="_blank">ÖoB</a> <br />
                <a href="https://www.sj.se/" target="_blank">SJ</a>
            </h4>
            <div class="btnredigera btn-group-xs">
                <button class="btn" type="button" id="redigerabtn" onclick="showredigeralitenbild()">
                    Redigera
                    <span><i class="glyphicon glyphicon-pencil"></i></span>
                </button>
                <div class="redigera" id="redigeralitenbild" style="display:none;">
                    <div class="col-md-12">
                        
                        <div class="falt">
                            <label>
                                Text:
                            </label>
                            <img src="~/Content/Images/publish-wordpress-page.jpg" class="img-responsive" alt="Cinque Terre">

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <legend style="color:#e93523">Våra studentboenden</legend>
    <div class="row" style="margin-left:3%; margin-right:3%;">

        <div class="row objekt">
            <div class="col-md-4 col-sm-4 col-xs-10 col-lg-3">
                <center><img class="img-responsive" src="~/Content/Images/erikrosenbergsväg.PNG" alt="erikrosenbergsväg"></center>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-10">
                <p>
                    <b>Område:</b> Örebro Almby <br />
                    <b>Adress:</b> Erik RosenbergsVäg 1 <br />
                    <b>Antal lägenheter i fastigheten:</b> 20<br />
                    <br />
                    1 Ledig lägenhet i fastigheten<br />
                    <a class="link" href="~/Home/LedigaObjekt">Gå till lediga objekt >></a>
                </p>
                <span class="glyphicon glyphicon-map-marker"></span><a href="https://goo.gl/maps/MEbdAJ2D9Wq" target="_blank"> Hitta hit</a>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                        <div class="col-lg-8">

                        </div>
                        <div class="col-lg-2">
                            <div class="btnredigera btn-group-xs" style="text-align:right;">
                                <button class="btn btn-default" type="button" id="redigerabtn" onclick="showredigera()">
                                    Redigera fastighet
                                    <span><i class="glyphicon glyphicon-pencil"></i></span>
                                </button>
                            </div>


                        </div>

                        <div class="col-lg-2">

                            <div class="btnredigera btn-group-xs" style="text-align:right;">
                                <button class="btn btn-danger" type="button" id="redigerabtn">
                                    Ta bort fastighet
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class=" row" style="background-color:#fbfbfb;">

                        <div class="redigera" id="redigera" style="display:none; ">
                            <br />
                            <div class="col-md-4 col-lg-4">
                                <div class="falt">
                                    <label>
                                        Område:
                                    </label>
                                    <div class="input-group">
                                        <input name="state" placeholder="Örebro Norr" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="falt">
                                    <label>Adress:</label>
                                    <div class="input-group">
                                        <input name="state" required placeholder="Erik RosenbergsVäg 1" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="falt">
                                    <label>Antal lägenheter i fastigheten:</label>
                                    <div class="input-group">
                                        <input name="deltagareinput" placeholder="20" class="form-control input-md" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12" style="padding-left:0px;">
                                    <label>Typ av fastighet:</label><br />
                                    <form>
                                        <input type="radio" name="val" value="Student" checked> Student
                                        <input type="radio" name="val" value="Senior"> Senior
                                        <input type="radio" name="val" value="Övrigt"> Övrigt<br>
                                    </form>
                                </div>
                            </div>
                            <div class=" col-md-6 col-lg-6" style="padding-right:0px;">
                                <label>Bild:</label>
                                <div class="row falt">

                                    <div class="col-md-7">

                                        <input name="state" placeholder="~/Content/Images/Blaslampan%202%20-%203.jpg" class="form-control" style="border-radius:0px;" type="text">
                                    </div>
                                    <div class=" col-md-3 col-lg-3" style="padding-left:0px;">
                                        <button type="submit" class="btn btn-default">Ladda upp <span class="glyphicon glyphicon-file"></span></button>
                                    </div>
                                </div>

                                <div class="row falt">

                                    <div class=" col-md-7 col-lg-7" style="padding-right:0px;">
                                        <div class="falt">
                                            <label>Länk till karta:</label>
                                            <div class="input-group">
                                                <input name="state" placeholder="https://goo.gl/maps/boNdvNsyb1R2" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-5 col-lg-5" style="padding-left:0px;">
                                        <br />
                                        <br />

                                        <a href="https://goo.gl/maps/gvNVpwmYs5n" target="_blank"> Öppna google maps</a>
                                    </div>
                                </div>


                                <div class="col-md-10 col-lg-7" style="padding-left:0px;">
                                    <div class=" falt">
                                        <label>Visa på startsidan:</label><br />
                                        <form>
                                            <input type="radio" name="val" value="Ja"> Ja
                                            <input type="radio" name="val" value="Nej" checked> Nej<br />
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-10 col-lg-7" style="padding-left:0px;">
                                    <div class=" falt">
                                        <label>Publicera:</label><br />
                                        <form>
                                            <input type="radio" name="val" value="Ja" checked> Ja
                                            <input type="radio" name="val" value="Nej"> Nej<br />

                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 col-lg-2" style=" margin-top: 10px; margin-bottom: 10px;">


                                <div>
                                    <br />

                                    <button type="submit" class="btn btn-success" style="margin-top:170px;">Spara <span class="glyphicon glyphicon-floppy-saved"></span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br />
        <hr size="2" color="black">
        <div class="row objekt">
            <div class="col-md-4 col-sm-4 col-xs-10 col-lg-3">
                <center><img class="img-responsive" src="~/Content/Images/salsmästargatan.PNG" alt="salsmästaregatan"></center>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-10">
                <p>
                    <b>Område:</b> Örebro Öster <br />
                    <b>Adress:</b> Salsmästaregatan 24-52 <br />
                    <b>Antal lägenheter i fastigheten:</b> 20<br />
                    <br />
                    1 Ledig lägenhet i fastigheten<br />
                    <a class="link" href="~/Home/LedigaObjekt">Gå till lediga objekt >></a>
                </p>
                <span class="glyphicon glyphicon-map-marker"></span><a href="https://goo.gl/maps/hnWNAPiqa7y" target="_blank"> Hitta hit</a>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                        <div class="col-lg-8">

                        </div>
                        <div class="col-lg-2">
                            <div class="btnredigera btn-group-xs" style="text-align:right;">
                                <button class="btn btn-default" type="button" id="redigerabtn" onclick="showredigera4()">
                                    Redigera fastighet
                                    <span><i class="glyphicon glyphicon-pencil"></i></span>
                                </button>
                            </div>


                        </div>

                        <div class="col-lg-2">

                            <div class="btnredigera btn-group-xs" style="text-align:right;">
                                <button class="btn btn-danger" type="button" id="redigerabtn">
                                    Ta bort fastighet
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="background-color:#fbfbfb;">

                        <div class="redigera" id="redigera4" style="display:none; ">
                            <br />
                            <div class="col-md-4 col-lg-4">
                                <div class="falt">
                                    <label>
                                        Område:
                                    </label>
                                    <div class="input-group">
                                        <input name="state" placeholder="Örebro Norr" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="falt">
                                    <label>Adress:</label>
                                    <div class="input-group">
                                        <input name="state" required placeholder="Salsmästaregatan 24-52" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="falt">
                                    <label>Antal lägenheter i fastigheten:</label>
                                    <div class="input-group">
                                        <input name="deltagareinput" placeholder="20" class="form-control input-md" type="text">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12" style="padding-left:0px;">
                                    <label>Typ av fastighet:</label><br />
                                    <form>
                                        <input type="radio" name="val" value="Student" checked> Student
                                        <input type="radio" name="val" value="Senior"> Senior
                                        <input type="radio" name="val" value="Övrigt"> Övrigt<br>
                                    </form>
                                </div>
                            </div>
                            <div class=" col-md-6 col-lg-6" style="padding-right:0px;">
                                <label>Bild:</label>
                                <div class="row falt">

                                    <div class="col-md-7">

                                        <input name="state" placeholder="~/Content/Images/Blaslampan%202%20-%203.jpg" class="form-control" style="border-radius:0px;" type="text">
                                    </div>
                                    <div class=" col-md-3 col-lg-3" style="padding-left:0px;">
                                        <button type="submit" class="btn btn-default">Ladda upp <span class="glyphicon glyphicon-file"></span></button>
                                    </div>
                                </div>

                                <div class="row falt">

                                    <div class=" col-md-7 col-lg-7" style="padding-right:0px;">
                                        <div class="falt">
                                            <label>Länk till karta:</label>
                                            <div class="input-group">
                                                <input name="state" placeholder="https://goo.gl/maps/boNdvNsyb1R2" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-md-5 col-lg-5" style="padding-left:0px;">
                                        <br />
                                        <br />

                                        <a href="https://goo.gl/maps/gvNVpwmYs5n" target="_blank"> Öppna google maps</a>
                                    </div>
                                </div>


                                <div class="col-md-10 col-lg-7" style="padding-left:0px;">
                                    <div class=" falt">
                                        <label>Visa på startsidan:</label><br />
                                        <form>
                                            <input type="radio" name="val" value="Ja"> Ja
                                            <input type="radio" name="val" value="Nej" checked> Nej<br />
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-10 col-lg-7" style="padding-left:0px;">
                                    <div class=" falt">
                                        <label>Publicera:</label><br />
                                        <form>
                                            <input type="radio" name="val" value="Ja" checked> Ja
                                            <input type="radio" name="val" value="Nej"> Nej<br />

                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 col-lg-2" style=" margin-top: 10px; margin-bottom: 10px;">


                                <div>
                                    <br />

                                    <button type="submit" class="btn btn-success" style="margin-top:170px;">Spara <span class="glyphicon glyphicon-floppy-saved"></span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br />
        <hr size="2" color="black">
        <div class="row objekt">
            <div class="col-md-4 col-sm-4 col-xs-10 col-lg-3">
                <center><img class="img-responsive" src="~/Content/Images/tärnvägen.PNG" alt="tärnvägen"></center>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-10">
                <p>
                    <b>Område:</b> Örebro Almby <br />
                    <b>Adress:</b> Tärnvägen 12-20 <br />
                    <b>Antal lägenheter i fastigheten:</b> 20<br />
                    <br />
                    0 Lediga lägenheter i fastigheten
                    <br />
                    <a class="link" href="~/Home/LedigaObjekt">Gå till lediga objekt >></a>
                </p>
                <span class="glyphicon glyphicon-map-marker"></span><a href="https://goo.gl/maps/GS7HuXL1pwj" target="_blank"> Hitta hit</a>
                <br />
                <br />
            </div>
            <div class="row">
                <div class="col-lg-12">
                        <div class="row">

                            <div class="col-lg-8">

                            </div>
                            <div class="col-lg-2">
                                <div class="btnredigera btn-group-xs" style="text-align:right;">
                                    <button class="btn btn-default" type="button" id="redigerabtn" onclick="showredigera5()">
                                        Redigera fastighet
                                        <span><i class="glyphicon glyphicon-pencil"></i></span>
                                    </button>
                                </div>


                            </div>

                            <div class="col-lg-2">

                                <div class="btnredigera btn-group-xs" style="text-align:right;">
                                    <button class="btn btn-danger" type="button" id="redigerabtn">
                                        Ta bort fastighet
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="background-color:#fbfbfb;">

                            <div class="redigera" id="redigera5" style="display:none; ">
                                <br />
                                <div class="col-md-4 col-lg-4">
                                    <div class="falt">
                                        <label>
                                            Område:
                                        </label>
                                        <div class="input-group">
                                            <input name="state" placeholder="Örebro Norr" class="form-control" type="text">
                                        </div>
                                    </div>

                                    <div class="falt">
                                        <label>Adress:</label>
                                        <div class="input-group">
                                            <input name="state" required placeholder="Tärnvägen 12-20" class="form-control" type="text">
                                        </div>
                                    </div>

                                    <div class="falt">
                                        <label>Antal lägenheter i fastigheten:</label>
                                        <div class="input-group">
                                            <input name="deltagareinput" placeholder="20" class="form-control input-md" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12" style="padding-left:0px;">
                                        <label>Typ av fastighet:</label><br />
                                        <form>
                                            <input type="radio" name="val" value="Student" checked> Student
                                            <input type="radio" name="val" value="Senior"> Senior
                                            <input type="radio" name="val" value="Övrigt"> Övrigt<br>
                                        </form>
                                    </div>
                                </div>
                                <div class=" col-md-6 col-lg-6" style="padding-right:0px;">
                                    <label>Bild:</label>
                                    <div class="row falt">

                                        <div class="col-md-7">

                                            <input name="state" placeholder="~/Content/Images/Blaslampan%202%20-%203.jpg" class="form-control" style="border-radius:0px;" type="text">
                                        </div>
                                        <div class=" col-md-3 col-lg-3" style="padding-left:0px;">
                                            <button type="submit" class="btn btn-default">Ladda upp <span class="glyphicon glyphicon-file"></span></button>
                                        </div>
                                    </div>

                                    <div class="row falt">

                                        <div class=" col-md-7 col-lg-7" style="padding-right:0px;">
                                            <div class="falt">
                                                <label>Länk till karta:</label>
                                                <div class="input-group">
                                                    <input name="state" placeholder="https://goo.gl/maps/boNdvNsyb1R2" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-5 col-lg-5" style="padding-left:0px;">
                                            <br />
                                            <br />

                                            <a href="https://goo.gl/maps/gvNVpwmYs5n" target="_blank"> Öppna google maps</a>
                                        </div>
                                    </div>


                                    <div class="col-md-10 col-lg-7" style="padding-left:0px;">
                                        <div class=" falt">
                                            <label>Visa på startsidan:</label><br />
                                            <form>
                                                <input type="radio" name="val" value="Ja"> Ja
                                                <input type="radio" name="val" value="Nej" checked> Nej<br />
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-lg-7" style="padding-left:0px;">
                                        <div class=" falt">
                                            <label>Publicera:</label><br />
                                            <form>
                                                <input type="radio" name="val" value="Ja" checked> Ja
                                                <input type="radio" name="val" value="Nej"> Nej<br />

                                            </form>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 col-lg-2" style=" margin-top: 10px; margin-bottom: 10px;">


                                    <div>
                                        <br />

                                        <button type="submit" class="btn btn-success" style="margin-top:170px;">Spara <span class="glyphicon glyphicon-floppy-saved"></span></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    <hr />

            @*<div class="col-md-1 col-sm-1 col-xs-1">

            </div>*@
   
            </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-xs-6 col-sm-3">

            </div>
        </div>


<script>
    $(document).ready(function () {
        // Activate Carousel
        $("#myCarousel1").carousel({ interval: false });

        // Enable Carousel Indicators
        $(".item1").click(function () {
            $("#myCarousel1").carousel(0);
        });
        $(".item2").click(function () {
            $("#myCarousel1").carousel(1);
        });
        $(".item3").click(function () {
            $("#myCarousel1").carousel(2);
        });
        $(".item4").click(function () {
            $("#myCarousel1").carousel(3);
        });
        $(".item5").click(function () {
            $("#myCarousel1").carousel(4);
        });

        // Enable Carousel Controls
        $(".left").click(function () {
            $("#myCarousel1").carousel("prev");
        });
        $(".right").click(function () {
            $("#myCarousel1").carousel("next");
        });
    });
</script>
