
@{
    ViewBag.Title = "Varafastigheter";
}

<center><h2>Våra fastigheter</h2></center>

<div class="maincontainer1">
    <div class="maincontainer">

        <div class="row">
            <div class="col-sm-4 divleft">
                <p>Testar</p>
            </div>
            <div class="col-sm-4">
                <p>Visa fastigheter för:</p>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        Alla områden
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kumla</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nora</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Örebro</a></li>
                    </ul>
                   </div>
                </div>

                <div class="col-sm-3">
                    <p>
                        Test<br />
                        haha testar<br />
                        haha test<br />


                    </p>
                </div>

            </div>
    </div>
