
@{
    ViewBag.Title = "seriorboende";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<center><h2 class="sidrubrik">Våra fastigheter/Seniorboende 55+</h2></center>

<div class="maincontainer1">
    <div class="maincontainer ontop">
        <center>
            <div class="row">
                <div class="col-lg-4">
                    <a class="link" href="~/Admin/Varafastigheter"><< Tillbaka till våra fastigheter</a>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">


                    <center><img class="img-responsive" src="~/Content/Images/Senior.jpeg" alt="Seniorboende"></center><h3>
                        Välkommen till seniorboendet Nära Till!
                    </h3>

                    <br />
                    <p style="text-align:left;">
                        Nära Till klassas av Örebro kommun som ett seniorboende Kategori 3. Det är den högsta kategorin och ett erkännande av vår fina service. <br />
                        <br />Seniorboendet Nära Till invigdes vintern 1997. Det är beläget i den gamla brandstationen mitt i centrala Örebro med gångavstånd till allt vad en stad kan erbjuda. Galleriorna Vågen och Krämaren ligger bara 300 meters gångväg bort. Fastigheten ägs av Fastighetsförvaltare Stieg Ekström, som ansvarar för anvisning av lägenheter samt har hand om hyreskön. <a class=" link" href="~/Home/Intresseanmalan">Intresseanmälan >></a>
                        <br />
                    </p>
                </div>

            </div>
        </center>

        <h4 style=" text-align:center;">Vill du veta mer om seniorboendet Nära Till? Gå till seniorboendets egen hemsida: <a href="http://www.naratill.se/" target="_blank">www.naratill.se</a>.</h4>

    </div>
    </div>
